@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,200&family=Square+Peg&display=swap);

*{
    margin: 0px;
    font-family: 'Montserrat';
}

    /* Cabezote - aplica a todo el sitio web */

.logo_main{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    color: #14213D;
}

.sub-title{
    width: 80px;
    height: 80px;
    margin: 20px;
    display: flex;
    align-items: center;
}

 .menu__item{
    padding: 7px;
    display:inline-block;
    font-style: normal;
 }


@media (max-width: 768px) {
    
    #grilla{
        display: grid;
        grid-template-areas:
        "header header"
        "introduction introduction"
        "clients_1"
        "clients_2"
        "footer footer";
    
        grid-template-rows: auto;
        grid-template-columns: 50% 50%;
    }

    header{
        margin-top: 30px;
    }
    
    .menu{
        flex-direction: column;
        justify-items: center;
    }

    ul{
        margin-top: 20px;
    }

    .menu__item{
        padding: 5px;
        display:inline-block;
        font-size:small;

    }    

    .logo_main{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: 10px;
        color: #14213D;
    }

    .main-title{
        font-size: x-large;
        align-items: center;
        margin-top: 70px;
    }

    .logo_img{
        height: 100px;
        width: 100px;
        margin-top: 35px;
    }
    
    .sub-title{
        display: none;
    }

    .introduction__start{
        text-align: center;
        padding: 15%;
        font-size: 10px;
        background-color: rgb(252, 163, 17, 0.7)
    }
    .introduction__start p{
        padding: 15px;
    }
    
    .introduction__finish{
        margin-top:5%;
        font-size: 30px;
    }
    
    
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: #14213D
}

.menu__item:hover{
    background-color:#FCA311;
    transition: 0.3s;

}

.menu__item:hover a{
    color: white;
    transition: 0.3s;
}


/* Introducción */

#introduction{
    margin-top: 40px;
    padding: 5% 20%;
    color: #14213D;
    background-image: url(images/party.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
 }

.introduction__start{
    text-align: center;
    padding: 15%;
    font-weight: 600;
    font-size: 20px;
    background-color: rgb(252, 163, 17, 0.7)
}
.introduction__start p{
    padding: 15px;
}


.introduction__finish{
    margin-top:5%;
    font-size: 30px;
}

/* @media (max-width:768px) {

    .introduction__start{
        text-align: center;
        background-color: rgb(252, 163, 17, 0.7)
    }
    .introduction__start p{
        padding: 5px;
        font-size: 10px
    }
    
    .introduction__finish{
        margin-top:5%;
        font-size: 15px;
    }

    #introduction{
        grid-area: introduction;
        display: flex;
        justify-items: center;
        margin-top: 40px;
        padding: 5% 20%;
        color: #14213D;
        background-image: url(images/party.jpg);
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
     }
} */


/* Clientes */

.clients__title{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 30px;
    font-weight: 600;
    color: #14213D;
}

.clients__image1{ 
    width:100%;
    margin-bottom: 20px;
}


.clients__image2{
    width:100%; 
    margin-bottom: 20px;
}

/* @media (max-width: 768px) {
    
    #grilla{
        display: grid;
        grid-template-areas:
        "header header"
        "introduction introduction"
        "clients_1"
        "clients_2"
        "footer footer";

        grid-template-columns: 100%;
    }

    
    #clients{
        display:flex;
        flex-direction: column;

    }

    .clients__quotes{
        display:flex;
        flex-direction: column;
    }

    .clients__first{
        grid-area: clients_1;
        width: fit-content;
        margin-bottom: 20 px;
        margin-left: 0%;

    }

    .clients__first p{
        font-size: smaller;
        margin-bottom: 10px;
        padding: 0px 30px 0px 30px;
    }

    .clients__second{
        grid-area: clients_1;
        width: fit-content;
        margin-left: 0%;
        margin-top: 40px;

    }

    .clients__second p{
        font-size: smaller;
        margin-bottom: 10px;
        padding: 0px 30px 0px 30px;
    
    }
} */


.footer{
    padding: 40px;
    background-color: #14213D;
    color: white;
}

.footer-image{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 50%;
}

.instagram{
    margin-left: 15px;
}

/* @media (max-width: 768px) {

    footer{
        margin-top: 30px;
    }
    
    footer p{
        font-size: x-small;
    }

    .instagram{
        width: 20px;
        height: 20px;
    }

    .whatsapp{
        width: 20px;
        height: 20px;
    }

    #footer-image{
        display: flex;
        flex-direction: row-reverse;
        max-width: 80px;
    }




} */



        /*Quiénes Somos*/

h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    color: #14213D;
    margin-bottom: 40px;
}

#header-line{
    width: 60%;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #FCA311;
}

/* Quienes Somos - Primer integrante*/

.team_1-image{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.team_1-text{
    padding-right: 15%;
}

.team_1-text h3{
    margin-bottom: 10px;
}

.integrante-2{
    margin-top: 10%;
}


/*Quienes Somos - Segundo integrante*/


.team_2-image{ /*Foto*/
    width: 47%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.team_2-text{ /*Contenedor texto*/
    padding-left: 15%;
    display: flex;
    flex-direction: column;
}

.team_2-text h3{ /*Nombre integrante*/
    margin-bottom: 10px;
}





            /*Nuestro Trabajo*/


#our-job__menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5%;
}

.examples{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.examples h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FCA311;
    margin: 30px 0px 30px 0px;
    padding: 30px;
    background-color: #14213D;

}
.examples_container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 50px;
}

.example__1{   /*Contenedor izquierdo*/
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    
}

.example__2{  /*Contenedor derecho*/
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.example-text{ /*Pie de foto*/
    font-size: 20px;
    margin-top: 10px;
    width: 50%;
    text-align: center;
}




          /*Otros Servicios*/ 

.other-services-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.other-services-text{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 100px;
}

.other-services{
    display:flex;
    flex-direction: column;
    margin-top: 5%;
    padding-right: 5%;;
}

.other-services p{
    padding: 0px 50px 0px 50px;
}

.other-services h4{
    padding-left: 50px;
    margin-bottom: 7px;
}
